<aside>
  <div id="sidebar-header">
    <span class="material-symbols-outlined" id="database-icon"> database </span>
    <h1 id="brand-title">
      TERDB
      <p id="brand-subtitle">STUDIO</p>
    </h1>
  </div>

  <div id="sidebar-content">
    <div id="search-bar">
      <span class="material-symbols-outlined" id="search-icon"> search </span>
      <input type="text" placeholder="Search" id="search-input" />
    </div>

    <nav id="table-nav">
      <!-- Display All Table -->
    </nav>
  </div>

  <div id="sidebar-footer">
    <button id="setting-btn">Settings</button>
  </div>
</aside>
